.section{
    display: flex;
    flex-direction: column;
    flex: 1;
  
    justify-content: space-around;
  
    margin-left: 5%;
    width: 90%;
    max-width: 90%;
    position: absolute;
    border: 1px gray solid;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}